<!DOCTYPE html>
<html>
  <head>
    <title>Personal Finances</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <%= render partial: "layouts/navbar" %>
      <%= yield %>
    </div>
  </body>
</html>
